 @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html,
body,
#map {
        height: 100%;
        margin: 0;
        padding: 0;
}

a {
  text-decoration: none;
}

a : hover {
  color: #3a84df;
  text-decoration: none !important;
}

.location {
  z-index: 10;
  width: 300px;
  top : 15px;
  left : 25px;
  position:fixed;
  padding-right: 2px;
  padding-left: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  background-color: #fff;
  height: 35px;
}

.location > input {
  font-size : 15px;
  line-height: 20px;
  font-weight: 300;
  margin : 0 !important;
  outline : 0;
  box-shadow: none;
  height: auto !important;
  top : 5px;
  left:0px;
  border:0;
  text-align: left;
  padding: 0px;
  background: transparent;
  position : absolute;
  padding-left: 14px;
  width: 100%;
}

.search-places {
  z-index: 10;
  width: 300px;
  top: 55px;
  left:25px;
  position: fixed;
  padding-right: 2px;
  padding-left: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  background-color: #fff;
  height: 35px;
}

.search-places input {
  font-size : 15px;
  line-height: 20px;
  font-weight: 300;
  margin : 0 !important;
  outline : 0;
  box-shadow: none;
  height: auto !important;
  top : 5px;
  left:0px;
  border:0;
  text-align: left;
  padding: 0px;
  background: transparent;
  position : absolute;
  padding-left: 14px;
  width: 100%;

}

.clear-search {
  cursor : pointer;
  display: inline-block;
  width: 25px;
  position:relative;
  float:right;
  line-height: 35px;
  font-size: 16px;
}

.clear-search-anchor {
  color : #999;
  padding-left: 12px;
}

.clear-search-anchor :hover  {
  color:#4d90fe;
}

.places {
  z-index: 10;
  max-width: 300px;
  top: 95px;
  left:25px;
  position: fixed;
  padding-right: 2px;
  padding-left: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  background-color: #fff;
}

.place-list {
  max-width: 300px;
  max-height: 300px;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}


hr {
  background: #e6e6e6;
  border: none;
  height: 1px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.places-place-list-item-line {
  margin-bottom: 0;
  margin-left: 14px;
  margin-top:0;
  width: 370px;
}

.places-place-list-item {
  min-height: 80px;
  position: relative;
  line-height: 16px;
  font-size:12px;
  padding: 6px 0 6px 0;

}

.places-place-list-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.places-place-list-item-info {
  display: inline-block;
  margin-left: 14px;
  padding: 2px 0 0 0;
  vertical-align: top;
  width: 280px;
  margin-left : 14px;
}


.places-place-list-item-title {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.places-place-list-item-category {
  color: #666;
  font-size: 12px;
  padding:0;
  margin:0;
  padding-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.places-place-list-item-address {
  color: #999;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.jfk-scrollbar::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px;
}

.jfk-scrollbar::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.jfk-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.jfk-scrollbar::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px;
}

.jfk-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}



